* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Proxima Nova";
  color: #fff;
}

header {
  background-color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 27px;
  margin-right: 525px;
}
.nav-item {
  margin: 0 15px;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.control {
  display: flex;
  align-items: center;
}
.control-item {
  margin-left: 30px;
  list-style: none;
  padding-left: 0;
}
.control-btn {
  background-color: transparent;
  display: block;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.control-btn_search {
  background-image: url(/Portfolio/project_4_snowboarding/img/header/search.svg);
  width: 18px;
  height: 18px;
}
.control-btn_account {
  background-image: url(/Portfolio/project_4_snowboarding/img/header/account.png);
  width: 16px;
  height: 18px;
}
.hero {
  background-image: url(/Portfolio/project_4_snowboarding/img/header/hero-bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #fff;
  position: relative;

}
.arrow-back {
  position: absolute;
  top: 23px;
  left: 50px;
  width: 30px;
}
.hero-content {
  padding-top: 210px;
  max-width: 520px;
  margin: 0 auto;
}

.hero__title {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
}
.hero__btn {
  background-color: #000;
  font-weight: 800;
  border: none;
  color: #fff;
  padding: 19px 30px;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
  margin-right: 100px;
  transition: 0.2s ease background-color;
}

.hero__btn:hover {
  background-color: #fff;
  color: #000;
}

.snowboards {
  padding-top: 155px;
  color:#000;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.snowboards__title {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 35px;
}
.snowboards__text {
  padding-bottom: 180px;
  text-align: center;
}
.slider {
}
.snowboards__subtitle {
}

.company {
  background-image: url(/Portfolio/project_4_snowboarding/img/company-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-content {
  padding-top: 250px;
  max-width: 630px;
  padding-bottom: 215px;
}

.company__title {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.company__text {
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 29px;
}


.features {
  padding-top: 125px;
  padding-bottom: 140px;
}

.features__h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000;
  margin-bottom: 153px;
  text-align: center;
  text-transform: uppercase;
}
.features-cards_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
.features-card {
  max-width: 220px;
}
.features__link {
  display: block;
  text-decoration: none;
}
.features__img {
  margin-bottom: 20px;
}
.features__title {
  font-size: 16px;
  line-height: 2;
  color: #000;
}

footer {
  background-color:#000;
  padding-top: 70px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  margin: 0 auto;
}
.footer-menu {
  max-width: 200px;
}
.footer__title {
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer-list {
  list-style: none;
}
.footer-list__item {
  padding-bottom: 15px;
}
.footer-list__link {
  color: #c9c9c9;
  text-decoration: none;
}

.footer_email {
  position: relative;
}
.footer__input {
  color: #6c6c6c;
  margin-bottom: 57px;
  border: none;
  font-size: 14px;
  padding: 14px 60px 15px 15px;
  outline: none;
}

.footer__button {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #c7c7c7;
  border: none;
  position: absolute;
  top: -14px;
  right: 0;
  cursor: pointer;
  padding: 14px 18px;
}

.footer-icons-row {
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  /*transition: all 0.3s;*/
}

.footer__icon:first-child {
  margin-left: 0;
}

.footer__icon:last-child {
  margin-right: 0;
}




.footer_additional {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}
.footer_copyright {
  font-size: 14px;
  font-weight: 600;
}
.footer_region {
  margin-left: 10px;
}